
	body{
		background: #ffffff url("../images/img-tree.png") no-repeat right top;
        margin-right: 200px;}
        .pale{ border-left: 6px solid red;
        background-color: lightgrey;
        border-radius: 12px;
	}
	.mar{
    width:200px;
    margin: auto;
    border: 1px solid red;
}
.pad{
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin: 200px 300px;
}
.box{
       background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
.ims{
    width: 280px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    text-align: center;

}
.out{ 
    margin-top:50px;
    outline-style: dashed;
    outline-offset: 15px;
}
h1{
    text-shadow: 3px 5px red;
}
.fon{
    font-style: italic;
    font-family: monospace;
}
.link{/*unvisited link*/
    text-decoration: none;
        color: red;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: green;
}
                                              
/* mouse over link */
a:hover {
    text-decoration: none;
    color: hotpink;
}

/* selected link */
a:active {
    text-decoration: none;
    color: blue;
}

    a:link, a:visited {
    background-color: lightblue;
    color: orange;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
}
.aaaa ol{
   
    background: #0099ff;
    padding: 2px;
}

.aaaa ul {
    background: #3399ff;
    padding: 2px;
}

.aaaa ol li {
    background: #ffe5e5;
    padding: 3px;
    margin-left: 20px;
}

.aaaa ul li {
    background: #cce5ff;
    margin: 5px;
}
.table table{
        border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr:hover{background-color:#f5f5f5}
}